<div class="col-md-9" style="float:right;">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">Список пользователй</h2>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-bordered table-condensed">
                <thead>
                    <tr data-bind="click: sortTable">
                        <th data-column="Id">
                            ID
                            <span>
                                <i></i>
                            </span>
                        </th>
                        <th data-column="FirstName">
                            Имя
                            <span>
                                <i></i>
                            </span>
                        </th>
                        <th data-column="LastName">
                            Фамилия
                            <span>
                                <i></i>
                            </span>
                        </th>

                        <th></th>
                        <th></th>
                    </tr>
                </thead>

                <tbody id="test" >
                 
                    <!--ko foreach: Page.CurrentPage()-->
                    <tr>
                        <td data-bind="text:Id"></td>
                        <td data-bind="text:FirstName"></td>
                        <td data-bind="text:LastName"></td>
                        <td><button type="button" class="btn btn-warning glyphicon glyphicon-pencil btn-sm" ></button></td>
                        <td><button type="button" class="btn btn-danger btn-xs " data-bind="click: $parent.removeUser">Удалить</button></td>
                    
                    </tr>
                    <!--/ko-->
                    
               </tbody>
                
            </table>
          
    
        </div>
    </div>
</div>
<script>
    var elem = document.getElementById("test");
    elem.addEventListener('select', function (event) {
        alert(event.detail);
    });
</script>
